body {
  background-color: #000000;
  color: #dddddd;
  font-family: 'Inconsolata', monospace;
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

#phone {
  background-color: #333333;
  height: 100%;
  width: 32.1428571%;
  float: left;
}

#square {
  height: 100%;
  width: 67.8571429%;
  float: right;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15.7894737%;
  margin: 0;
}

#settings {
  background-color: #444444;
  width: 100%;
  height: 84.2105263%;
}
